<div class="graph-controls" id="graph-controls">
    <div class="graph-search">
        <input type="text" class="graph-search__input" id="graph-search" placeholder="Search entities..." autocomplete="off">
    </div>
    <span class="filter-section__title">Entity Types</span>
    <div id="type-filters"></div>
    <span class="filter-section__title">Relation Types</span>
    <div id="relation-filters"></div>
    <div class="filter-actions">
        <button class="filter-actions__btn" id="btn-arrows" title="Toggle arrows">→ Arrows</button>
        <button class="filter-actions__btn" id="btn-reset-filters" title="Reset all filters">⟳ Reset</button>
    </div>
</div>
